body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    border: 1px solid black;
    padding: 20px;
    height: 200px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
}

/* top /bottom/left/right */

/* .static {
    position: static;
    top: 120px;
} */

.absolute {
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 0;
    /* bottom: 0; */
}