body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
}

.content-section {
    margin-bottom: 50px;

}

.sticky-header {
    background-color: red;
    position: sticky;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    top: 0;
}

.content {
    padding: 20px;
    margin-bottom: 20px;
}