/* universal selector */
* {
  margin: 0;
  padding: 0;
}

/* type selector */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* id selector */
#main-header {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

/* class selector */
.container {
  max-width: 800px;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* attribute selector*/
[data-category="Technology"] {
  font-style: italic;
  color: blue;
  font-weight: 600;
}
/* Descendant selector */
.post-content p {
  color: #34495e;
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 5px;
}

.post-meta > span {
  margin-right: 15px;
  font-size: 20px;
}

.post-content ul li{
    line-height: 1.6;
    font-size: 18px;
    color: #34495e;
    margin-bottom: 10px;
    font-weight: 600;
    margin-left: 5px;
}

/* grouping selector */

h1,
h2,
h3 {
  margin-bottom: 20px;
}


footer p{
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}


a:hover{
    color: red;
    cursor: pointer;
}