body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(125, 143, 77);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  line-height: 1.6;
  color: red;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: blue;
  border-radius: 10px;
}
