* {
  margin: 0;
  padding: 0;
}
#main-title{
    color: blue;
    text-align: center;
    margin-top: 20px;
}
.text-content{
    color: red;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
.highlight{
    background-color: yellow;
    font-weight: bold;
}