/* base style */
.box{
    width: 100%;
    height: 200px;
}

@media screen and (orientation: landscape){
    .box{
        background-color: red;
        color: yellow;
        font-size: 150px;
    }
}


@media screen and (orientation: portrait){
    .box{
        background-color: rgb(194, 67, 67);
        color: white;
        font-size: 60px;
    }
}