* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}

:root {
    --primary-color: #4f46e5;
    --secondary-color: #4338ca;
    --text-color: #1f2937;
    --gradient-start: #4f46e5;
    --gradient-end: #7c3aed;
    --light-color: #f3f4f6;
    --cream-color: #FFF1E6;
    --Light-orange: #FFD6A5;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    background-color: white;
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo i {
    font-size: 1.3rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
    padding: 0, 5rem 0;
}

.nav-content a i {
    font-size: 1.1rem;
}

.nav-links a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

/* header style */
.header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0, 2rem;
    background: linear-gradient(135deg, rgba(99, 102, 241, 0.90) 0%, rgba(236, 72, 153, 0.75) 100%), url("https://cdn.pixabay.com/photo/2017/08/10/08/47/laptop-2620118_960_720.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.header-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.header-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
    padding: 1rem 2.5rem;
}

.cta-btn:hover {
    transform: translateY(-2px);
    background: linear-gradient(to right, var(--gradient-end), var(--gradient-start));
}

/* about */
.about {
    padding: 6rem 2rem;
    background-color: white;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.profile-img {
    flex: 1;
    align-items: center;
}

.profile-img img {
    max-width: 400px;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.about-text {
    flex: 1;
}

.section-title {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-weight: 700;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.3;
}

.skill {
    padding: 6rem 2rem;
    background: var(--light-color);
}

.skills-content {
    max-width: 1200px;
    margin: 0 auto;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.skills-card {
    flex: 1;
    min-width: 250px;
    padding: 2rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.skills-card i {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.skills-card h3 {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
}

.skills-card p {
    font-size: 1.2rem;
}

/* works */
.works {
    padding: 6rem 2rem;
    background: white;
}

.work-content {
    max-width: 1200px;
    margin: 0 auto;
}

.works-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap: 2rem;
}

.works-card {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background: var(--light-color);
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.works-card img{
    border-radius: 0.5rem 0.5rem 0 0;
}

.works-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.work-info {
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-info h3 {
    margin-bottom: 0.5rem;
}

.work-info p {
    margin-bottom: 0.4rem;
}

.work-links {
    /* border-top: 1px solid black; */
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.contact {
    padding: 6rem 2rem;
    background: var(--light-color);
}

.contact-content {
    max-width: 800px;
    margin: 0 auto;
}

.contact-form {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    font-size: 1rem;
}

.submit-btn {
    padding: 1rem 2rem;
    background: var(--primary-color);
    border: none;
    border-radius: 1.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: var(--secondary-color);
}

/* footer */
.footer {
    padding: 2rem;
    background: var(--text-color);
    color: white;
    text-align: center;
}

.footer p {
    font-size: 1.2rem;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    color: white;
    margin: 0 0.5rem;
    font-style: 1.5rem;
    transition: color 0.3s;
}

.social-links a i {
    font-size: 1.8rem;
}

.social-links a:hover {
    color: var(--primary-color);
}

/* responsive */
@media (max-width:780px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .header-text h1 {
        font-size: 2.5rem;
    }

    .skills-csrd {
        min-width: 200px;
    }

}

@media (max-width:1024px) {
    .works-card {
        flex: 1;
        max-width: 600px;
        margin: 0 auto;
    }

    .works-grid {
        justify-content: center;
    }
}