/* container to hold the profile card  */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* basic styles for the profle card  */
.profile-card {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

/* styling for description */
.profile-card p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.4;
}

/* style the static button for appearance */
#Generatebtn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}