body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0px;
    padding: 20px;
}

.profile-card {
    display: flex;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    max-width: 550px;
    width: 100%;
}

.profile-sidebar {
    background-color: #1a2374;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 12px 0px 0px 12px;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid yellow;
    margin-bottom: 40px;
}

.profile-main {
    padding: 30px;
}

h2 {
    margin: 2px;
    font-size: 16px;
    font-weight: bolder;
}

.job-title {
    font-size: 14px;
}

.company {
    color: rgba(232, 190, 4);
    font-weight: bolder;
}

.bio {
    font-size: 18px;
    color: #616161;
    margin-bottom: 15px;
}

.contact-info {
    font-size: 18px;
    color: #616161;
    margin-top: 15px;
}

.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

.social-links a {
    color: #1a2374;
    font-size: 20px;
}

.social-links a:hover {
    color: #8c0589;
    font-size: 20px;
}

.skills {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    background-color: rgba(210, 210, 6);
    color: #1a2374;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}
.ctn-button{
    background-color: #d81b60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.ctn-button:hover{
background-color: #1a2374;
}